<h1>CoverLetters#new</h1>
<p>Find me in app/views/cover_letters/new.html.erb</p>
<div class="cover-letter-container bg-dark px-5 py-5 text-light">
        <h4>Cover letter variables</h4>
        <%= simple_form_for cover_letter do |f| %>
          <%= f.input :staff_name %>
          <%= f.input :platform %>
          <%= f.input :email %>
          <%= f.submit "Create cover letter" %>
        <% end %>
      </div>
