<%= link_to "Back", jobs_path, class:"btn btn-outline-primary text-center" %>
<div class="row  d-flex justify-content-center">
  <div class="col-lg-12 col-xl-6 card my-5 py-5 ">
    <div class="job-container text-center", style="">
      
      <div class=""><%= link_to "Status: #{@job.state} ", @job, class:"btn btn-#{@job.job_status} btn-block" %></div>
      <h3>Company name: <%= @job.company %></h3>
      <h4><%= @job.title %></h4>
      <div class="row">
        <div class="col">
          <%= link_to "Open link", @job.url, class:"btn btn-info btn-block" %>
        </div>
        <div class="col">
          <%= button_to "Delete", @job, method:  :delete, class:"btn btn-danger btn-block" %>
        </div>
      </div>
      <div class="col">
        <%= simple_form_for @job do |f| %>
          <%= f.input :state, as: :select, collection: ["none", "they open my application", "applied", "got respond", "rejected"] %>
          <%= f.submit "Save" %>
        <% end %>
      </div>
      <%= simple_form_for @cover_letter do |f| %>
        
      <% end %>
      
    </div>
  </div>
</div>
