<div class="row  d-flex justify-content-center text-center">
  <div class="col-lg-12 col-xl-6 card my-2 py-5 bg-<%= @job.job_status%>">
    <div class="job-container", style="">
      <h3>Company name: <%= @job.company %></h3>
      <h3 class="flag flag-<%= @job.country %>">Country: <%= @job.country %></h3>
      <h3>Remote: <%= @job.remote %></h3>
      <h4><%= @job.title %></h4>
      <div class="row ">
        <div class="col">
          <%= link_to "Open link", @job.url, class:"btn btn-info btn-block" %>
        </div>
        <div class="col">
          <%= button_to "Delete", @job, method:  :delete, class:"btn btn-danger btn-block" %>
        </div>
        <div class="col">
          <%= link_to "Back", jobs_path, class:"btn btn-outline-primary btn-block" %>
        </div>

      </div>
      <div class="row">
        <div class="col">
          <%= simple_form_for @job do |f| %>
            <%= f.input :state, as: :select, collection: ["none", "they open my application", "applied", "got respond", "rejected"] %>
            <%= f.input :country %>
            <%= f.input :title %>
            <%= f.input :remote %>
            <%= f.submit "Save" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col card my-2 py-5">
    <div class="cover-letter-container bg-dark px-5 py-5 text-light">
      <h4>Cover letter variables</h4>
      <%= simple_form_for [@job, @cover_letter] do |f| %>
        <%= f.input :staff_name %>
        <%= f.input :platform %>
        <%= f.input :email %>
        <%= f.submit "Create cover letter" %>
      <% end %>
      <h4>Ready cover_letter</h4>
      <%#= render "layouts/cover_letter_body", locals: { cover_letter: @cover_letter } %>
      <%#= @job.cover_letter %>
      
    </div>
    
  </div>
</div>
