<div class="job-container mb-0", style="height: 20px;">
  <%= @job.created_at.strftime("%-d %B") %>
  <%= link_to "Status: #{@job.state} ", @job, class:"btn-#{@job.job_status}" %>
  <strong class="px-2 border-right"><%= @job.company %></strong>
  <span class="px-2 border-right text-dark"><%= @job.title %></span>
  <%= link_to "url", @job.url, class:"btn-info px-2 border-right"  %>
</div>